<!-- Heading -->

<div class="container page-header">
  <h1>Password generator</h1>
</div>

<!-- Body -->
<div class="container" >

  <!-- Length input -->
  <div class="input-group" style="width: 300px">
    <span class="input-group-addon" id="sizing-addon2">Length</span>
    <input 
      type="text" 
      class="form-control" 
      aria-describedby="sizing-addon2"
      (input)="onChangeLength($any($event.target).value)"
    >
  </div>
  
  <!-- Use letters checkbox -->
  <div class="checkbox">
    <label>
      <input 
        type="checkbox" 
        (change)="onChangeUseLetters()"
      >
      Use letters
    </label>
  </div>

  <!-- Use numbers checkbox -->
  <div class="checkbox">
    <label>
      <input 
        type="checkbox" 
        (change)="onChangeUseNumbers()"
      >
      Use numbers
    </label>
  </div>

  <!-- Use symbols checkbox -->
  <div class="checkbox">
    <label>
      <input 
        type="checkbox"
        (change)="onChangeUseSymbols()"
      >
      Use symbols
    </label>
  </div>

  <!-- Generate button -->
  <div>
    <button 
      type="button" 
      class="btn btn-default" 
      style="width: 300px"
      [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))" 
      (click)="onButtonClick()"
    >Generate</button>
  </div>

  <!-- Generated password -->
  <div 
    class="form-group has-success" 
    style="width: 300px; margin-top: 12px"
    *ngIf="password"
  >
    <label class="control-label" for="inputSuccess1">Your password</label>
    <input 
      type="text" 
      class="form-control" 
      id="inputSuccess1" 
      aria-describedby="helpBlock2"
      [value]="password"
    >
  </div>


</div>